{% load static %}
{% include "staffNav.html" %}   
<link rel="stylesheet" href="{% static 'css/addPatient1.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<div class="container">
    <div class="title">Add Patient</div>
    <div class="content">
      <form action="confirmDetails/" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                <span class="details">Case Number</span>
                <input type="text" id="caseNumber" name="caseNumber" placeholder=""  readonly>
              </div>
          <div class="input-box">
            <span class="details">Patient Name</span>
            <input type="text" id="patientName" name="patientName" placeholder="Enter Patient Name" required>
          </div>
            <div class="input-box">
                <span class="details">Phone Number</span>
                    <input type="text" id="phone" name="phone" placeholder="Enter your number" required>
            </div>
            <div class="input-box">
                <span class="details">Email Id</span>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
                <div class="gender-details">
                    <input type="radio" name="gender" id="dot-1" value="M">
                    <input type="radio" name="gender" id="dot-2" value="F">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                    <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                    </label>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <span class="details">Patient Relative Name</span>
                    <input type="text" id="patientRelativeName" name="patientRelativeName" placeholder="Enter Patient Relative Name" required>
            </div>
            <div class="input-box">
                <span class="details">Patient Relative Contact Number</span>
                    <input type="text"  id="patientRelativeContactNumber" name="patientRelativeContactNumber" placeholder="Enter Patient Relative Contact " required>
            </div>
            <div class="input-box">
                <span class="details">Line1</span>
                    <input type="text" id="line1" name="line1" placeholder="Enter Address " required>
            </div>
            <div class="input-box">
                <span class="details">Line2</span>
                    <input type="text" id="line2" name="line2" placeholder="Enter Address " required>
            </div>
            <div class="input-box">
                <span class="details">Select State</span>
                    <select id="statess"name="statess">
                        <option value="">Select</option>
                        {% for i in states %}
                        <option value="{{i.stateId}}">{{i}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="input-box">
                <span class="details">Select City</span>
                    <select id="cities" name="cities">
                        <option value="">Select</option>

                    </select>
            </div>
            <div class="input-box">
                <span class="details">Pincode</span>
                    <input type="text"  id="pincode"  name="pincode" placeholder="Enter Pincode" required>
            </div>
            <div class="input-box">
                <span class="details">Date of birth</span>
                    <!-- <input type="date" id="dob" name="dob" required> -->
                    <input type="text" id="datepicker" name="dob" required>
            </div>
            <div class="input-box">
                <span class="details">Any Previous History</span>
                    <input type="text" id="history" name="history" placeholder=" like Thyroid,Diabetes.." required>
            </div>
            <div class="input-box">
                <span class="details">Select Ward</span>
                <select id="wardss" name="wardss">
                    <option value="" disabled selected hidden>Select Ward</option>
                    {% for i in wards %}
                    <option value="{{i.wardId}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <span class="details">Select Bed Number</span>
                <select id="beds" name="beds">
                    <option  value="" >Select Bed</option>
                 
                </select>
            </div>
            <div class="input-box">
                <span class="details">Bed Price</span>
                <select id="prices" name="prices">
                    <option value="">Price</option>
                   
                </select>
            </div>

            <div class="input-box">
                <span class="details">Select Doctor</span>
                <select id="doctors" name="doctors">
                    <option value="">Select Doctor</option>

                </select>
            </div>
            <div class="input-box">
                <span class="details">Doctor Notes</span>
                    <input type="text" id="notes" name="notes" placeholder="Notes..." required>
            </div>
            <div class="input-box">
                <span class="details">Doctor Visiting Time</span>
                    <!-- <input type="date" id="time" name="time" required> -->
                    <input type="text" id="datepicker1" name="time" required>
            </div>
            <div class="input-box">
                <span class="details">Status</span>
                <select id="status" name="status">
                    <option  value="Pending" selected>Pending</option>
                </select>
            </div>
            <div class="input-box">
                <span class="details">Document</span>
                    <input type="file" id="file" name="file" multiple required>
            </div>
            <div class="checkboxClass text-left">
                <span class="details"  >Symptoms</span>
                {% for i in symptoms %}
                    <input type=checkbox id="symptoms" name="symptoms" value="{{i.symptomsId}}"> {{i}}<br>
                {% endfor %}
        </div>
       
      
        </div>
        
        <div class="button">
                <input type="submit" value="Add Patient">
        </div>
      </form>
    </div>
  </div>

</body>
{% block javascript %}
<script>
$( function() {
    $( "#datepicker" ).datepicker({
        dateFormat: 'yy-mm-dd'
    });
  } );
  $( function() {
    $( "#datepicker1" ).datepicker({
        dateFormat: 'yy-mm-dd'
    });
  } );

$("#wardss").change(function () {
        const wardname = $(this).val(); 

        $.ajax({                                // initialize an AJAX request
            type: "POST",
            url: "{% url 'getbedsajax' %}",
            data: {
                'wardname': wardname,           // add the wardname to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            
            success: function (data) {          // `data` is from `getbedsajax` view function
                let html_data = '<option value="">---------</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.bedId}">${data.bedNumber}</option>`
                });
                $("#beds").html(html_data);     // replace the contents of the topic input with the data that came from the server
            }
        });

        $.ajax({                                // initialize an AJAX request
            type: "POST",
            url: "{% url 'getpricesajax' %}",
            data: {
                'wardname': wardname,           // add the wardname to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
           
            success: function (data) {          // `data` is from `getpricesajax` view function
                let html_data = "";
                data.forEach(function (data) {
                    html_data = `<option value="${data.wardName}">${data.wardPrice}</option>`
                });
                // console.log(data) 
                $("#prices").html(html_data);     // replace the contents of the topic input with the data that came from the server
            }
        });

        $.ajax({                                // initialize an AJAX request
            type: "POST",
            url: "{% url 'getdoctorsajax' %}",
            data: {
                'wardname': wardname,      
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            
            success: function (data) {          // `data` is from `getdoctorsajax` view function
                let html_data = '<option value="">---------</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.doctorId}">${data.doctorName}</option>`
                });
                $("#doctors").html(html_data);  // replace the contents of the topic input with the data that came from the server
                console.log(data)
            },
           

        });
    });

    $("#statess").change(function () {
        const statename = $(this).val();
          
        $.ajax({                                // initialize an AJAX request
            type: "POST",
            url: "{% url 'getcitiesajax' %}",
            data: {
                'statename': statename,      
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            
            success: function (data) {          // `data` is from `getcitiesajax` view function
                let html_data = '<option value="">---------</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.cityId}">${data.cityName}</option>`
                });
                $("#cities").html(html_data);   // replace the contents of the topic input with the data that came from the server
            }
        });
    });

    function randomNumber(len) {
            var randomNumber;
            var n = '';
            for (var count = 0; count < len; count++) {
                randomNumber = Math.floor(Math.random() * 10);
                n += randomNumber.toString();
            }
            return n;
            }
    document.getElementById("caseNumber").value = randomNumber(6);

</script>
{% endblock javascript %}
</html>