{% load static %}
<!DOCTYPE html>
<html>
  <title>Book Appointment</title>
<link rel="stylesheet" href="{% static 'css/bookAppointment.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/style1.css' %}"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
<!-- JQuery & JQuery validations -->
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script> 
<script src="{% static 'js/jquery-validation-ud.js' %}"></script>
  
<style>
  .error {
  color: red;
}
</style>
</head>
<body>
    
    {% include 'header.html' %}

  <div class="container" id="containerform">
    <div class="title">Book Appointment</div>
    <div class="content">
      <form id="bookAppointmentForm" action="bookedAppointment" method="post">
        {% csrf_token %}
        <div class="user-details">
          {% if caseNumber is not None %}
          <div class="input-c">
            <input type="text" id="caseNumber" name="caseNumber" value="{{caseNumber}}" readonly>
          </div>
          {% endif %}

          <div class="input-box">
            <span class="details">Patient Name</span>
            <input type="text" id="patientName" name="patientName" placeholder="Enter Patient Name" value="{{pname}}" required>
          </div>
            <div class="input-box">
                <span class="details">Phone Number</span>
                    <input type="number" class="form-control" id="patientPhone" name="patientPhone" placeholder="Enter your number" value="{{pphone}}" required>
            </div>
            <div class="input-box">
                <div class="gender-details">
                    <input type="radio" name="gender" id="dot-1" value="M"  {% if pgender == "M" %} checked="checked" {% endif %}>
                    <input type="radio" name="gender" id="dot-2" value="F" {% if pgender == "F" %} checked="checked" {% endif %}>
                    <span class="details">Gender</span>
                    <div class="category">
                    <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                    </label>
                    </div>
                    <span id="mygender" name="mygender"></span>
                </div>
                
            </div>
            <div class="input-box">
              <span class="details">Email Id</span>
                  <input type="email" id="emailId" name="emailId" placeholder="Enter Email Id" value="{{pemail}}"  required>
            </div>
            <div class="input-box">
                <span class="details">Patient Relative Name</span>
                    <input type="text" id="relativeName" name="relativeName" placeholder="Enter Patient Relative Name" value="{{rname}}"  required>
            </div>
            <div class="input-box">
                <span class="details">Patient Relative Contact Number</span>
                    <input type="number" class="form-control" id="relativePhone" name="relativePhone" placeholder="Enter Patient Relative Contact " value="{{rphone}}" required>
            </div>
            
            <div class="text-box">
                <span class="details">Reason</span>
                    <textarea id="reason" name="reason" placeholder="Reason..." required></textarea>
            </div>
            
      
        </div>
        
        <div class="button">
                <input type="submit" value="Book Appointment">
        </div>

        <div>
          {% if sucess is not None %}
          <span>{{sucess}}</span>
          {% endif %}
        </div>
      </form>
  </div>
    </div>
{% include 'footer.html'%}

</body>
</html>

