<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAIL</title>
</head>
<body>
    <form action="{% url 'email' %}" method="POST">{% csrf_token %}
        Name: <input type="text" name="Name" id="Name"><br>
        Subject: <input type="text" name="Sub" id="sub"><br>
        Massage: <input type="text" name="Msg" id="Msg"><br>
        <input type="submit" name="submit" value="Send Mail">
    </form>
</body>
</html>