{% load static %}
<div class="fixed-header">
    <div class="container" id="container1">
        <nav>
            <img src="{% static 'corona.png' %}" height="50px" width="50px">
            <a href="/">Home</a>
            <a href="#bookappo"data-toggle="modal">Book Appointment</a>
            <a {% if slug is not None %} href="{{slug}}" {% else %} href="/" {% endif %}>About Us</a>
            <a href="/contactUs">Contact Us</a>
            <a {% if slug is not None %} href="{{slug}}" {% else %} href="/" {% endif %}>Terms & Conditions</a>
            <a href="#myModal" data-toggle="modal">Login</a>
        </nav>
    </div>
</div>