{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Js     -->
    <script src="{% static 'Js/bed.js' %}"></script>
    <!-- bootstrap css -->
    <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- style css -->
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
    <link href="{% static 'css/bedtable.css' %}" rel="stylesheet">
    <!-- Responsive-->
    <link  href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link  href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets --> 
    <link  href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    
    <!-- login -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <!-- login form validation -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>COVID HOSPITAL MANAGEMENT SYSTEM</title>
</head>
<body>
    
    {% include 'header.html' %}
    
  
    <div class="header_section">
    {% if err is not None %}
        <script>
        alert("{{err}}");
        </script>
       
        {% endif %}
    
     <!-- banner section start -->
     <div class="banner_section layout_padding">
        <div class="container">
           <div id="my_slider" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                 <div class="carousel-item active">
                    <div class="row">
                       <div class="col-md-6">
                          <div class="container">
                             <h1 class="banner_taital">Get Medical Care early </h1>
                             <p class="banner_text"></p>
                             <div class="more_bt"><a href="#bookappo"data-toggle="modal">Book Appointment</a></div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="banner_img"><img src="{% static 'banner-img.png' %}"></div>
                       </div>
                    </div>
                 </div>
              </div>
            </div> 
        </div>
     </div> 
    </div>
    
    <!-- cards -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 15rem; border-radius: 25px;">
                    <img src="{% static 'heart.png' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Recovered</h5>
                                <h5 class="card-title">{{recovered}}</h5>
                        </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 15rem; border-radius: 25px;">
                    <img src="{% static 'coffin.png'%}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Deceased</h5>
                            <h5 class="card-title">{{deceased}}</h5>
                        </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 15rem; border-radius: 25px;">
                    <img src="{% static 'hospital-bed.png' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Bed Availability</h5>
                        <h5 class="card-title">{{bedcnt}}</h5>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 15rem; border-radius: 25px;">
                    <img src="{% static 'oxygenation.png' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Oxygen</h5>
                            {% for i in oxy %}
                                <h5 class="card-title">{{i}} </h5> 
                            {% endfor %}
                        </div>
                </div>
            </div>     
      </div>
	</div>
      <!-- bed Status -->
      <br><br>
      <div class="container my-4">
          <div class="row">
              <div class="col-sm">
                  <h2><b>Bed Availability</b></h2><br><br>
  
              </div>
              <div class="col-sm">
                  <figure class="p-3 mb-0">
                      <button type="button" class="btn btn-danger btn-sm fa fa-bed"></button> : Booked &nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-secondary btn-sm fa fa-bed"
                          style="background-color: blueviolet;"></button> : Available
                      <select id="ward" onclick="update()">
                          <option disabled hidden selected>Select Ward</option>
                          {% for ward in wards %}
                          <option id="{{ward.wardName}}">{{ward.wardName}}</option>
                          {% endfor %}
                      </select>
                  </figure>
              </div>
          </div>
          <!-- bed Availablity -->
          <div id="accordion">
              <div class="card">
                  <div class="card-header" id="headingOne">
                      <h5 class="mb-1">
                          <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="false" aria-controls="collapseOne">
                              GENERAL
                          </button>
                      </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <div class="col-sm">
                              <table style="width:100%">
                                  <tr rowspan="2">
                                      {% for bed in beds%}
                                      {% if bed.wardName|upper == 'GENERAL' %}
                                      {% if bed.occupied == True %}
                                      <td><button type="button" class="btn btn-danger btn-lg fa fa-bed">
                                             {{bed.bedNumber}}</button></td>
                                      {% else %}
                                      <td><button type="button" class="btn btn-secondary btn-lg fa fa-bed" name="bedfalse"
                                              style="background-color: blueviolet;">
                                              {{bed.bedNumber}}</button></td>
                                      {% endif %}
                                      {% endif %}
                                      {% endfor %}
                                  </tr>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <div class="card">
                  <div class="card-header" id="headingTwo">
                      <h5 class="mb-1">
                          <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseTwo"
                              aria-expanded="false" aria-controls="collapseTwo">
                              SPECIAL 
                          </button>
                      </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                          <div class="col-sm">
                              <table style="width:100%">
                                  <tr rowspan="2">
                                      {% for bed in beds%}
                                      {% if bed.wardName|upper == 'SPECIAL' %}
                                      {% if bed.occupied == True %}
                                      <td><button type="button" class="btn btn-danger btn-lg fa fa-bed">
                                              {{bed.bedNumber}}</button></td>
                                      {% else %}
                                      <td><button type="button" class="btn btn-secondary btn-lg fa fa-bed" name="bedfalse"
                                              style="background-color: blueviolet;">
                                              {{bed.bedNumber}}</button></td>
                                      {% endif %}
                                      {% endif %}
                                      {% endfor %}
                                  </tr>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <div class="card">
                  <div class="card-header" id="headingThree">
                      <h5 class="mb-1">
                          <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseThree"
                              aria-expanded="false" aria-controls="collapseThree">
                              EMERGENCY
                          </button>
                      </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                          <div class="col-sm">
                              <table style="width:100%">
                                  <tr rowspan="2">
                                      {% for bed in beds%}
                                      {% if bed.wardName|upper == 'EMERGENCY' %}
                                      {% if bed.occupied == True %}
                                      <td><button type="button" class="btn btn-danger btn-lg fa fa-bed">
                                              {{bed.bedNumber}}</button></td>
                                      {% else %}
                                      <td><button type="button" class="btn btn-secondary btn-lg fa fa-bed" name="bedfalse"
                                              style="background-color: blueviolet;">
                                              {{bed.bedNumber}}</button></td>
                                      {% endif %}
                                      {% endif %}
                                      {% endfor %}
                                  </tr>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
           
        {% include 'footer.html'%}
        

       
</body>
    
</html>
