{% load static %}
{% include 'staffNav.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dataTable.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/staffNav.css' %}">

<div class="container">
    <div class="row ">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'hospital-bed.png' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Bed Available</h4>
                    <p class="card-text">{{bedcnt}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'oxygenation.png' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Oxygen</h4>
                    {% for i in oxy %}                                
                        <p class="card-text">{{i}}</p> 
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'heart.png' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Recovered</h4>
                    <p class="card-text">{{recovered}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'coffin.png'%}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Deceased</h4>
                    <p class="card-text">{{deceased}}</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'patient.html' %} 