{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Staff Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/staffNav.css' %}">
</head>
<body > 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav">
      <li><a href="{% url 'index' %}" ><b style="font-size: large;">Home</b></a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" ><b style="font-size: large;">Patient</b><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'patient' %}" >Add Patient</a></li>
          <li><a href="{%  url 'viewPatient' %}" >View Patient</a></li>
        </ul>
      </li>
      <li><a href="#" ><b style="font-size: large;">Appointment Detail</b></a></li>
    </ul>
    <ul class="nav navbar-nav" style="margin-left:18%;size: 12px;"></b>
      <li><a href="#"><b style="font-size: large;" class="well well-sm font-weight-bold">Staff Panel</b></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'patient' %}" ><b style="font-size: large;"><span class="glyphicon glyphicon-plus"></span></b></a></li>
      <li><a href="#" ><b style="font-size: large;"><span class="glyphicon glyphicon-bell"></span>Message</b></a></li>
      <li><a href="#" ><b style="font-size: large;"><span class="glyphicon glyphicon-user"></span>{{user}}</b></a></li>
      <li><a href="{% url 'index' %}" ><b style="font-size: large;"><span class="glyphicon glyphicon-log-out"></span> Logout</b></a></li>
    </ul>
  </div>
</nav>


</body>
</html>