<script>
$(function() {
  setTimeout(function() { $("#success").fadeOut(1500); }, 7000)
  
  })
</script>

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" id="success" name="success" role="alert"
  style="background-color: rgb(198, 248, 198); color: black;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% for message in messages %}
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
