
body{
    background: url('../doccopy.png');
    background-size: cover;
    
    
}


.row {
    display: flex;
    flex-wrap: wrap;
 }
 .navbar-inverse {
    background-color: white;
    border: none;

}
b, strong {
    font-weight: 500;
    color: black;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: white;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: black;
}
 .row > div[class*='col-'] {
   display: flex;
 }
 img {
    width: 15%;
    margin: 0 auto;
    padding-top: 15px;
  } 
  .card-title,.card-text{
      font-weight: bold;
      font-size: large;
  }
  .card{
      background-color: white;
      text-align: center;
      border-radius: 25px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */
  }
 .container{
     text-align: center;
 }

 /* views */
 body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}
th,td{
    text-align: center;
}